<!DOCTYPE html>
<%# ここは共通ファイルになっている%>
<html>
  <head>
    <title>How was your day</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<%#　ここでscssの読み込み%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%# ここでjavascriptの読み込み%>    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>

    <nav class="navbar navbar-default navbar-fixed-top navbar-transparent">
      <div class="container">
        <%= link_to root_path do %>
        <span><%= image_tag "icons/home.png", class: "navbar-brand" %></span>
          
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li>
              <%= link_to favorites_index_path do %>
                <%= image_tag "icons/camera.png" %>
              <% end %>
            </li>
            <li>
                <%= link_to new_topic_path do %>
                  <%= image_tag 'icons/pen.png' %>
                <% end %>
            </li>
            <li>
              <%= link_to logout_path, method: :delete do %>
                <%= image_tag "icons/back.png" %>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to new_user_path do %>
                <%= image_tag "icons/sing.png" %>
              <% end %>
            </li>
            <li>
              <%= link_to login_path do %>
                <%= image_tag "icons/inn.png" %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

  <%# ここで他のViewファイルを読み込んでいる%>
    <%= yield %>
    <script>
      $(function(){
        $(".alert").fadeOut(5000);
      });
    </script>
  </body>
</html>
